@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--font-family: 'Roboto', sans-serif;
	--p: 1rem/120% var(--font-family);
	--h1: bold 2.98rem/120% var(--font-family);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

p {
	font: var(--p);
}

header {
	background-color: #0e1c97;
	color: #fff;
	padding: 1.25em;
	text-align: center;
}

h1 {
	font: var(--h1);
}

nav {
	background-color: #dfea4f;
	color: #fff;
	padding: 0.625em;
	text-align: center;
}

nav a {
	color: #000000;
	text-decoration: none;
	margin: 0 0.625rem;
}

nav a:hover {
	text-decoration: underline;
}

section {
	padding: 1.25em;
	margin: 1.25rem;
	background-color: #fff;
}

div {
	padding: 1.25em;
	margin: 1.25rem;
	background-color: #fff;
}


footer {
	background-color: #0e1c97;
	color: #fff;
	padding: 0.625em;
	text-align: center;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
	font-size: 30px;
}

.google-calendar {
	border: 0;
	width: 50em;
	height: 50em;
}

.profile-picture {
  width: 150px;            /* Set the width of the image */
  height: 150px;           /* Set the height of the image */
  border-radius: 50%;      /* Makes the image circular */
  border: 3px solid #ddd;  /* Adds a subtle border */
  object-fit: cover;       /* Ensures the image covers the entire container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adds a subtle shadow */

}

