@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* * {
    background-color: rgba(0, 255, 89, 0.1) !important;
} */

:root {
	--font-family: 'Roboto', sans-serif;
	--p: 1rem/120% var(--font-family);
	--h1: bold 2.98rem/120% var(--font-family);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

p {
	font: var(--p);
}

a:visited{
	color:blue;
}

nav {
	background-color: #dfea4f;
	color: #fff;
	padding: 0.625em;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

nav a {
	color: #000000;
	text-decoration: none;
	margin: 0 0.625rem;
}

nav a:hover {
	text-decoration: underline;
}

nav a:visited {
	color: #000000;
}


header {
	/* background: linear-gradient(to bottom, #0e1c97 0%, #0018f3 90%, rgba(255, 255, 255, 0) 100%); */
	/* background: #0e1c97; */
	background-image: url("media/bg.jpg");
	background-position: left-center;
	background-repeat: repeat;
  background-position: center;
	opacity:0.5;
	color: white;
	padding: 1.25em;
	text-align: center;
	width: 100%;
	padding-top: 50px;
}

h1 {
	font: var(--h1);
}

section {
	padding: 1.25em;
	margin: 1.25rem;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

div {
	padding: 1.25em;
	margin: 1.25rem;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


footer {
	background-color: #0e1c97;
	color: #fff;
	padding: 0.625em;
	text-align: center;
}

footer a {
	color: #28cbf4;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
	font-size: 30px;
}

.google-calendar {
	border: 0;
	width: 50em;
	height: 35em;
}

.profile-picture {
  width: 170px;            /* Set the width of the image */
  height: 170px;           /* Set the height of the image */
  border-radius: 50%;      /* Makes the image circular */
  border: 3px solid #ddd;  /* Adds a subtle border */
  object-fit: cover;       /* Ensures the image covers the entire container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adds a subtle shadow */

}

.profile-container {
  display: flex;
  justify-content: center;  /* Centers horizontally */
}

/* .bg-animation {
	background: linear-gradient(-45deg, #ffffff, #a6baf8, #ffffff, #ebff67);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
} */

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */


.animated-underline {
    position: relative;
    display: inline-block;
  }
  
  .animated-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; /* Adjust thickness of underline */
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to right,
      transparent 0%,
      transparent 50%,
      rgb(71, 74, 250) 50%,
      rgb(255, 255, 255) 55%,
      transparent 55%,
      transparent 100%
    );
    background-size: 200% 100%;
    animation: underlineZip 2.5s cubic-bezier(0.25, 0.1, 0.6, 1) infinite;
  }
  
  @keyframes underlineZip {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

